<!-- <header class="header"> -->
<div class="container container-header">
  <a class="logo" href="./index.html"
    >Cocktails
    <img class="logo__img" src="./images/logo-icon.png" alt="logo" />
  </a>
  <nav class="header__nav">
    <ul class="header__nav-list">
      <li class="header__nav-item">
        <a class="header__nav-link" href="./index.html">Home</a>
      </li>
      <li class="header__nav-item">
        <a class="header__nav-link" href="#">
          Favorite
          <svg class="header__favorite-icon" width="24" height="24">
            <use
              href="./images/hero/symbol-defs.svg#icon-shevron-down-big"
            ></use>
          </svg>
        </a>
        <div class="header__box-favorite">
          <a class="header__favorite-link" href="./favCocktail.html"
            >Favorite cocktails</a
          >
          <a class="header__favorite-link" href="./favIngridients.html"
            >Favorite&nbspingredients</a
          >
        </div>
      </li>
    </ul>
  </nav>
  <form class="header__form" action="">
    <button class="searchButton" type="submit">
      <svg class="searchButton__icon" width="24" height="24">
        <use href="./images/hero/symbol-defs.svg#icon-search"></use>
      </svg>
    </button>
    <input
      class="header__search"
      name="search"
      type="text"
      placeholder="Search"
    />
  </form>
  <button class="burger-btn button">
    <svg width="30" height="30">
      <use
        class="menu-icon"
        href="./images/svg/icons-sprite.svg#burger-menu"
      ></use>
    </svg>
  </button>
  <div class="header__toggle-box">
    <input id="switch" type="checkbox" />
    <p class="header__toggle-light">Light</p>
    <label class="header__toggle" for="switch"></label>
    <p class="header__toggle-dark">Dark</p>
  </div>
</div>
<!-- </header> -->
